{% extends 'base.html' %}
{% block content%}
<div class="gradio-container gradio-container-3-28-0 svelte-ac4rv4 app dark" style="min-height: initial; flex-grow: 1;">
    <div class="main svelte-ac4rv4">  <div class="wrap svelte-1lyswbr" style="min-height: 100%;">
        <div class="contain" style="flex-grow: 1;">
            <div id="component-105" class="svelte-vt1mxs gap" style="min-width: min(0px, 100%); flex-grow: 1">
                <div id="component-106" class="block svelte-mppz8v padded" style="padding: 0px; margin: 0px; border-width: 0px; box-shadow: none; overflow: visible; background: transparent; border-style: solid;">
                    <div class="wrap center svelte-gjihhp hide" style="position: absolute; padding: 0px;">
                    </div> 
                    <div class="svelte-1ed2p3z"><div id="component-106" class="prose svelte-1yrv54" data-testid="markdown">
                    <h1 style="text-align: center; margin-bottom: 1rem">Speech-to-text</h1>
                </div>
            </div>
        </div>
    <div id="component-107" class="block svelte-mppz8v padded" style="padding: 0px; margin: 0px; border-width: 0px; box-shadow: none; overflow: visible; background: transparent; border-style: solid;">
        <div class="wrap center svelte-gjihhp hide" style="position: absolute; padding: 0px;"></div> 
        <div class="svelte-1ed2p3z"><div id="component-107" class="prose svelte-1yrv54" data-testid="markdown"><p>Let me try to guess what you’re saying!</p></div></div></div>
        <div id="component-108" class="svelte-15lo0d8 unequal-height"><div id="component-109" class="svelte-vt1mxs gap panel" style="min-width: min(320px, 10%); flex-grow: 1">
            <div id="component-110" class="svelte-vt1mxs gap" style="min-width: min(320px, 100%); flex-grow: 1">
                <div id="component-59" class="block svelte-mppz8v" style="border-style: dashed; overflow: visible;">
                    <div class="wrap default svelte-gjihhp hide" style="position: absolute; padding: 0px;"></div> 
                    <div style="  " class="svelte-1frtwj3 float"><span class="svelte-1frtwj3"><path d="M9 18V5l12-2v13"></path><circle cx="6" cy="18" r="3"></circle><circle cx="18" cy="16" r="3"></circle></svg></span> Audio</div>
                     <div class="svelte-116rqfv center boundedheight flex"><div class="wrap svelte-xwlu1w">Drop Audio Here <span class="or svelte-xwlu1w">- or -</span> Click to Upload</div> <input type="file" accept="audio/*" class="svelte-116rqfv"></div></div>
                    </div><div id="component-111" class="svelte-15lo0d8"><button class="lg secondary svelte-1ipelgc" style="  " id="component-112">Clear</button><button class="lg primary svelte-1ipelgc" style="  " id="component-113">Submit</button></div></div><div id="component-114" class="svelte-vt1mxs gap panel" style="min-width: min(320px, 100%); flex-grow: 1"><div class="form svelte-awbtu4"><div id="component-65" class="block svelte-mppz8v padded" style="border-style: solid; overflow: visible;"> <label class="svelte-4xt1ch"><span class="svelte-1gfkn6j">Output</span>   <textarea data-testid="textbox" class="scroll-hide svelte-4xt1ch" placeholder="" rows="1" disabled="" style="overflow-y: scroll; height: 42px;"></textarea></label></div></div><div id="component-115" class="svelte-15lo0d8"><button class="lg secondary svelte-1ipelgc" style="  " id="component-116">Flag</button></div></div></div></div></div> <footer class="svelte-1lyswbr"> <div class="svelte-1lyswbr">·</div>
				</a></footer></div> </div> </div>
{% endblock%}